
<h2 class="top-title">ようこそBookersへ!</h2>
<div class="top-box">
    <p class="top-text">
	    <b>Bookers</b> では、 様々な書籍に関するあなたの意見や<br>
                    印象を共有し交換することができます。<br>
                    <%= link_to "start", index_book_path %>
    </p>
</div>